*{
  font-family: "Space Mono", monospace;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  gap: 3vw; /* Use viewport width for spacing between items */
  position: fixed; /* Make navbar fixed */
  top: 4vh; /* Set distance from the top of the screen */
  left: 50%; /* Position the navbar at the horizontal center */
  transform: translateX(-50%); /* Adjust for the center alignment */
  z-index: 3; /* Ensure navbar stays above other content */
  background-color: transparent; /* Transparent background */
  padding: 1rem 0; /* Add padding for the top and bottom */
  width: 90vw; /* Adjust width to auto for centering */
}

.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

.logo .name{
  font-family: 'Space Mono';
  font-size: 2vw;
  font-weight: 700;
}

.nav-item {
  font-family: "Space Mono";
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #ffffff;
  border-radius: 2em;
  transition: background 0.3s;
  font-size: 1.02rem;
}

.nav-item:hover {
  background-color: #ffffff;
  color: #090909;
}

/* Make navbar items stack on smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 1.5em; /* Adjust gap when navbar items are stacked */
    top: 5vh; /* Adjust the position for smaller screens */
  }

  .nav-item {
    font-size: 1.2rem;
    padding: 1.2em 2.5em;
  }
}
